*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 15px/1.2  'Roboto', sans-serif !important;    
    background-color: gainsboro;   
    margin: .5rem;
    text-align: center;
    overflow-x: hidden;


}
nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
    background-color: rgba(218, 165, 32, 0.014);
}

h2 {
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;     
}


li{
    border-top: 1px dashed #333;
}

li a {
display: block;
}
ul li a,
ul li a:visited {
    text-decoration: none;
    color: #333;
}

ul li a:hover,
ul li a:focus {
    background-color: #333;
    color: rgb(255, 202, 127);
    cursor: pointer;
}
ul li:last-child a {
  border-radius: 0 0 2rem 2rem;
}

footer {
    width: 100%;
    background-color: aquamarine;
    border-radius: 2rem;

}
footer {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 2s ease;
}

footer:hover  {
    
    position: absolute;
    transform: scale(1.3);

}
